<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <!--sanitizer-->
    <script src="/html-css-sanitizer-minified.js"></script>
    <!--socket.io-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
</head>
<body>


    <h4>Support</h4>
    <hr>
    <div class="container">
        <div class="row">
        
            <div class="column">
                <p><b>😋 Admin</b><span class="float-right">Hey <%= username %>! Welcome </span></p>
            
            </div>
        </div>
    
        <div class="row">
            <div class="column">  
                <form id="chat">
                    <input id="msg" class="float-left" style="max-width: 80%!important;" value="">
                    <input id="send" class="button-primary float-right" type="submit" value="Send">
                </form>
            </div>
        </div>

    </div>
<hr>
        <div>
            <p>Create room:</p>
            <form id="join">
                <input id="room" class="float-left" style="max-width: 20%!important;" value="">
                <input id="send" class="button-primary" type="submit" value="Send">
            </form>
        </div>
  
</body>
<script>
    window.onload = () => {

        const socket = io();


        document.getElementById('chat').addEventListener('submit', (e) => {
            e.preventDefault();
            var msg = document.getElementById("msg").value;
            socket.emit('chat', JSON.stringify({action: 'message', msg: msg}));
            document.getElementById("msg").value ='';
        });
        document.getElementById('join').addEventListener('submit', (e) => {
            e.preventDefault();
            var room = document.getElementById("room").value;
            socket.emit('join', JSON.stringify({action: 'join', room: room}));
            document.getElementById("room").value ='';
        });
   
        socket.on('chat', (data) => {
            var data = JSON.parse(data);
            var clean = html_sanitize(data.msg);
            var html = `<div class="row">
                            <div class="column">
                                <p><b>${clean}</b>  <code>${data.time}</code>    <span class="float-right">⚛️</span> </p>
                            </div>
                        </div>`
            var rows = document.getElementsByClassName('row');
            var lbone = rows[rows.length-2];
            lbone.insertAdjacentHTML('afterend',html);
                
        });

    }
    </script>
</html>
